@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  background-image: url(./assets/image/Background-jogo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

header {
  display: flex;
  background-color: rgba(70, 69, 69, 0.7);
  height: 80px;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.tittle2,
.tittle3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.tittle2 {
  font-size: 2.2rem;
  margin-top: 270px;
}

.tittle3 {
  font-size: 2.2rem;
  margin-top: 300px;
}

/* botao COMO JOGAR DA HEADER */
.button-como-jogar {
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(51, 51, 58);
  border-radius: 15px;
  box-shadow: 0 9px rgb(255, 255, 255, 0.3);
}

.button-como-jogar:hover {
  background-color: rgb(0, 0, 0);
}

.button-como-jogar:active {
  background-color: rgb(51, 51, 58);
  box-shadow: 0 5px rgb(112, 112, 112);
  transform: translateY(4px);
}
/* fim do botao header (como jogar) */

nav ul {
  display: flex;
  list-style: none;
}

/* botoes das fases */
.button-container nav ul li {
  padding: 20px;
  width: 120px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: red;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1,
.button2,
.button3 {
  transition: transform 1s;
  background-color: rgb(51, 51, 58);
  margin: 60px 100px;
}
/* efeito de pulso aplicado ao botao da home*/
.button1:hover,
.button2:hover,
.button3:hover {
  animation: pulso 1s ease-in-out;
  color: azure;
  transform: scale(1.35);
}

@keyframes pulso {
  0% {
    box-shadow: 0 0 50px rgb(76, 187, 221), 0 0 100px rgb(38, 39, 82);
  }
}

footer {
  text-align: center;
  background-color: rgba(70, 69, 69);
  position: fixed;
  bottom: 0;
  width: 100%;
}
