@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  background-image: url(../assets/image/codewallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.titulo {
  background: rgba(14, 13, 13, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.09px);
  border: 2px solid rgb(255, 255, 255);
  padding: 20px 50px;
}

.texto1,
.texto2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}

.texto2 {
  margin-top: 30px;
}

.img-gif {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-inicio {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  padding: 10px 30px;
  color: red;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: rgba(70, 69, 69);
  position: fixed;
  bottom: 0;
  width: 100%;
}
